<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon API</title>
</head>
<body>
    <h1>Bienvenido a Pokemon API</h1>
    <p>Aquí tendrás una lista detallada de todos los Pokemons.</p>
</body>
</html>
